@model BasketballLeagueApp.Models.estadisticas_jugadores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>estadisticas_jugadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="partido_id" class="control-label"></label>
                <select asp-for="partido_id" class="form-control" asp-items="ViewBag.partido_id"></select>
                <span asp-validation-for="partido_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jugador_id" class="control-label"></label>
                <select asp-for="jugador_id" class="form-control" asp-items="ViewBag.jugador_id"></select>
                <span asp-validation-for="jugador_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minutos_jugados" class="control-label"></label>
                <input asp-for="minutos_jugados" class="form-control" />
                <span asp-validation-for="minutos_jugados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="puntos" class="control-label"></label>
                <input asp-for="puntos" class="form-control" />
                <span asp-validation-for="puntos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rebotes" class="control-label"></label>
                <input asp-for="rebotes" class="form-control" />
                <span asp-validation-for="rebotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asistencias" class="control-label"></label>
                <input asp-for="asistencias" class="form-control" />
                <span asp-validation-for="asistencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="robos" class="control-label"></label>
                <input asp-for="robos" class="form-control" />
                <span asp-validation-for="robos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bloqueos" class="control-label"></label>
                <input asp-for="bloqueos" class="form-control" />
                <span asp-validation-for="bloqueos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="perdidas" class="control-label"></label>
                <input asp-for="perdidas" class="form-control" />
                <span asp-validation-for="perdidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faltas" class="control-label"></label>
                <input asp-for="faltas" class="form-control" />
                <span asp-validation-for="faltas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
